---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HomePosts from "../components/HomePosts.astro";
import Tags from "../components/Tags.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_URL } from "../config";
import { Content as About } from "./about.md";
import getTags from "../data/getTags";

const posts = await Astro.glob("../posts/*.md");

const tags = getTags(posts);
---

<!doctype html>
<html lang="en-us">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <main>
      <About />
      <br />
      <h3>Recent posts</h3>
      <HomePosts allPosts={posts} />
      <p class="center">
        Subscribe with <a href=`${SITE_URL}/rss.xml`>RSS</a> if you're into that
      </p>
      <br />
      <Tags tags={tags} all />
    </main>
    <Footer />
  </body>
</html>
