---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const pathname = Astro.url.pathname;
---

<header>
  <div class="header-section">
    <div class="header-frame">
      <h1>{SITE_TITLE}</h1>
      <h2>{SITE_DESCRIPTION}</h2>
    </div>
    <div class="img-frame">
      <img
        id="propic"
        src="https://i.imgur.com/FD3gEUm.png"
        alt="8-bit picture of michael"
      />
    </div>
  </div>
</header>
<nav>
  <HeaderLink href="/" class={pathname}>home</HeaderLink>
  <HeaderLink href="/blog" class={pathname}>blog</HeaderLink>
  <HeaderLink href="/projects" class={pathname}>projects</HeaderLink>
  <HeaderLink href="/links" class={pathname}>links</HeaderLink>
</nav>
<style>
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    margin: 0.5em 0;
    letter-spacing: -0.02em;
  }

  .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header-frame {
    flex: 1;
    min-width: 400px;
  }

  .img-frame {
    width: 150px;
    height: 150px;
    margin: 10px 0;
    border-radius: 50%;
    overflow: hidden;
  }

  #propic {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center 25%;
    display: block;
    margin: 0 auto;
  }

  @media (max-width: 630px) {
    .header-section {
      flex-direction: column;
      text-align: center;
    }
    .header-frame {
      flex: 1;
      min-width: 100px;
    }
    .img-frame {
      margin-top: 1em;
    }
  }
</style>
