---
const { slug, title, tags, description, date, image } = Astro.props;
---

<li class="post">
  <div class="post-content">
    <a href={`/posts/${slug}/`} class="title">{title}</a>
    <time datetime={date}>
      {
        new Date(date).toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </time>
    <br />
    {description && <span class="excerpt">{description}</span>}
    <div>
      {
        tags &&
          tags.map((tag) => (
            <a class="tag" href={`/tag/${tag}`}>
              #{tag}
            </a>
          ))
      }
    </div>
  </div>
  <a href={`/posts/${slug}/`}>
    <img class="post-thumbnail" src={image.url} alt={image.alt} />
  </a>
</li>

<style>
  .post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .post-content {
    flex: 1;
  }

  .excerpt {
    font-size: 0.8rem;
    color: var(--text-secondary);
  }

  .post-thumbnail {
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 0.9;
    margin-top: 0em;
  }

  .post-thumbnail:hover {
    opacity: 1;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.3ex;
  }

  @media (min-width: 511px) {
    .post {
      flex-direction: row;
    }
    .post-thumbnail {
      width: 150px;
      margin-top: 0.25em;
    }
  }
</style>
