---
const { name, image, links, description } = Astro.props;
---

<div class="project-header">
  <h1>{name}:</h1>
  <div class="links-wrapper">
    <h1>[</h1>
    <ul>
      {
        Object.entries(links).map(([linkName, url], index, array) => (
          <li>
            <a
              href={String(url)}
              target={
                name === "Blogolio" && linkName !== "github"
                  ? "_self"
                  : "_blank"
              }
            >
              {linkName}
            </a>
            {index < array.length - 1 ? "," : ""}
          </li>
        ))
      }
    </ul>
    <h1>]</h1>
  </div>
</div>
<img src={image.url} alt={image.alt} />
<p>{description}</p>

<hr />

<style>
  .project-header h1 {
    margin: 1rem 0 0 0;
  }

  .links-wrapper h1 {
    margin: auto;
  }

  .project-header {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 0.5rem;
  }

  .links-wrapper {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
  }

  ul li {
    display: flex;
    align-items: center;
  }
</style>
